.Home .card {
    border: 1px solid grey;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    ;
}

.card a {
    color: blue;
    text-decoration: underline;
}